vte-terminal { padding: 12px; }
 
#clock-button:hover, #pulseaudio-button:hover{
    background-color:#596170;
}
 
#clock-button{ 
    background-color: #414b5e;
    margin: 3px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 5px;
    border-radius: 7px;
    color:#88c0d0;
}
 
 
#pulseaudio-button{
    background-color: #414b5e;
    margin: 3px;
    margin-top:2px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 5px;
    border-radius:7px;
    color:#b48ead;
}
 
#pulseaudio-button:checked, #clock-button:checked{ 
    box-shadow: none;
    color: #58a6FF;
}
 
#pager-4 .horizontal {
    border-radius: 15px;
    color: #fff;
    background-color: #414b5e;
    margin: 2px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 5px;
    border-radius:15px;
    font-size:14px;
}
 
#pager-4 #xfce-panel-toggle-button:checked {
    color: #58a6FF;
    background-color: #414b5e;
}
 
#pager-4 button:checked, #pager-4 button:active{
    border-radius:15px;
    box-shadow: none;
}
 
#pager-4, #xfce-panel-toggle-button:hover {
    color: #c0616a;
    background-color: #414b5e;
}

.tasklist button {
	color: #ffffff;
	background-color: #2e3440;
	padding: 0px;
	box-shadow: none;
}

.tasklist button:hover {
	border-image: image(#ffffff) 0 0 2/0 0 2px;
        border-color: #ffffff;
	background-color: #3b4252;
}

.xfce4-panel.background .tasklist button {
	border-image: image(transparent) 0 0 2/0 0 2px;
	border-color: #ffffff;
}

.xfce4-panel.background .tasklist button:checked {
	   background-color: #3b4252;
	  border-image: image(#ffffff) 0 0 2/0 0 2px;
	  border-color: #ffffff
}

.tasklist button:focus {
          background-color: #3b4252;
}

.xfce4-panel.background .tasklist button image {
	  padding: 4px;
}

.xfce4-panel.background button {
	min-height: 16px;
	min-width: 16px;
	padding: 0;
	border-radius: 0;
}

#xkb-7 button {
	background-color: #414b5e;
	margin: 3px;
	margin-left: 1px;
	margin-right: 1px;
	border-radius: 7px;
}

#xfce4-power-manager-plugin box {
	background-color: #414b5e;
	margin: 3px;
	margin-left: 1px;
	margin-right: 1px;
	border-radius: 7px;
}
